In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('interno -  Inscriptos .xlsx')
df.columns = ['marca_temporal', 'nombre', 'charla_relampago', 'ciudad_provincia', 'profesion', 
              'profesion_gral', 'genero', 'edad', 'otro_odd']
df.head()

,marca_temporal,nombre,charla_relampago,ciudad_provincia,profesion,profesion_gral,genero,edad,otro_odd
0,2018-02-09 15:43:30.996,Claudia Marcela Casas,NaN,La Plata/Buenos Aires,Empleada Administrativa,Administración,Femenino,50.0,No
1,2018-02-09 16:02:57.851,Emiliano Marinozzi,NaN,Rosario Santa Fe,Ingeniero,Ingeniería,Masculino,36.0,No
2,2018-02-09 19:25:04.740,Lucas poss,NaN,Capital,Data sales,Data Science,Masculino,38.0,No
3,2018-02-10 09:31:48.646,Daniela Puca,NaN,Buenos Aires,Directora de administración de base de datos y...,Administración,Femenino,36.0,Si
4,2018-02-10 20:58:57.332,Andrea Ramos,NaN,Caba,Licenciada en publicidad,Sociales,Femenino,51.0,No

In [5]:
df.to_csv('inscriptos.csv', index=False)

In [3]:
df['profesion_gral'].unique()

array(['Administración', 'Ingeniería', 'Data Science', 'Sociales',
       'Comunicación y Periodismo', 'Investigación', 'Desarrollador',
       'Sistemas', 'Otros', 'Consultor', 'Estudiantes', 'Abogado', nan],
      dtype=object)

In [4]:
df.groupby('profesion_gral')['profesion_gral'].count()

profesion_gral
Abogado                      11
Administración               19
Comunicación y Periodismo    73
Consultor                    11
Data Science                 26
Desarrollador                36
Estudiantes                  24
Ingeniería                   30
Investigación                10
Otros                        18
Sistemas                     31
Sociales                     49
Name: profesion_gral, dtype: int64